<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !flash.blank? %>
    <div class="messages">
      
      <%- flash.each do |key, value| %>
	<div class="<%= key.to_s %>">
	  <%= value %>
	</div>
      <% end -%>

    </div>
  <% end %>

  <%= yield %>

</body>
</html>
